<div *ngIf="user; else loading">
  <h1>{{ user.firstName }} {{ user.lastName }}</h1>

  <!-- Photo block -->
  <div >
    <img [src]="'http://localhost:5145/api/File/download/' + user.id" alt="avatar" width="120" height="120" />
    <div *ngIf="canEdit(user.id)">

    
    <input type="file" (change)="onFileChange($event)" accept="image/*" multiple />
    <button (click)="onPhotoSubmit()">Upload Photos</button>
    <button (click)="deleteUser()">Delete Account</button>
    </div>
  </div>

  <!-- Sections -->
  <section class="section">
    <user-basic-details
      [user]="user"
      [editing]="editSection === 'basic'"
      (enterEdit)="startEdit('basic')"
      (cancelEdit)="cancelEdit()"
      (save)="saveSection($event)"
      [metaOptions]="metaOptions"
      [canEdit]="canEdit(user.id)" >
    </user-basic-details>
  </section>

  <section class="section">
    <user-religious-details
      [user]="user"
      [editing]="editSection === 'religious'"
      (enterEdit)="startEdit('religious')"
      (cancelEdit)="cancelEdit()"
      (save)="saveSection($event)"
      [metaOptions]="metaOptions"
      [canEdit]="canEdit(user.id)" >
    </user-religious-details>
  </section>

  <section class="section">
    <user-professional-details
      [user]="user"
      [editing]="editSection === 'professional'"
      (enterEdit)="startEdit('professional')"
      (cancelEdit)="cancelEdit()"
      (save)="saveSection($event)"
      [metaOptions]="metaOptions"
      [canEdit]="canEdit(user.id)" >
    </user-professional-details>
  </section>

  <section class="section">
    <user-address-details
      [user]="user"
      [editing]="editSection === 'address'"
      (enterEdit)="startEdit('address')"
      (cancelEdit)="cancelEdit()"
      (save)="saveSection($event)"
      [metaOptions]="metaOptions"
      [canEdit]="canEdit(user.id)" >
    </user-address-details>
  </section>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
