.active-nav {
  @apply bg-rose-50 text-rose-600 font-bold !important;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 20%;
    right: 20%;
    height: 3px;
    @apply bg-rose-500 rounded-full;
  }
}

::ng-deep .custom-nav-menu {
  @apply rounded-2xl border-none shadow-2xl mt-4 overflow-hidden !important;
  min-width: 220px !important;
}