<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h3>{{steps[step].label}}</h3>
  <div *ngFor="let field of steps[step].fields">
    <label>{{field.label}}</label>

    <!-- Input -->
    <input *ngIf="field.type !== 'select'" [type]="field.type" [formControlName]="field.name" [placeholder]="field.placeholder"/>

    <!-- Dropdown -->
    <select *ngIf="field.type === 'select'" [formControlName]="field.name">
      <option value="">Select {{field.label}}</option>
      <option *ngFor="let option of metaOptions[field.name]" [value]="option">{{option}}</option>
    </select>

    <!-- Error -->
    <div *ngIf="profileForm.get(field.name)?.touched && profileForm.get(field.name)?.invalid" style="color: red;">
      {{field.label}} is required
    </div>
  </div>

  <div class="buttons">
    <button type="button" (click)="previousStep()" [disabled]="step===0">Previous</button>
    <button type="button" *ngIf="step < steps.length-1" (click)="nextStep()">Next</button>
    <button type="submit" *ngIf="step === steps.length-1">Submit</button>
  </div>
</form>